.truncate{
    display:block;
    white-space:nowrap;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
}

.quiz-image-header {
    background-image: url("../../../../assets/exam_2.png");
    background-size: cover;
}