<mat-card>
    <h1>Add New Quiz</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <form (ngSubmit)="addQuiz()">
                <mat-form-field appearance="outline" class="w100"> 
                    <mat-label>Choose Category</mat-label>
                    <mat-select name="category" [(ngModel)]="quizData.category.cid">
                      <mat-option *ngFor="let c of categories" [value]="c.cid">
                        {{c.title}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Enter Title</mat-label>
                    <input [(ngModel)]="quizData.title" type="text" name="title" placeholder="Enter here" matInput required/>
                </mat-form-field>
                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Enter Description</mat-label>
                    <textarea [(ngModel)]="quizData.description" type="text" name="description" placeholder="Enter here" rows="15" matInput></textarea>
                </mat-form-field>
                <ckeditor
                     [editor]="Editor"
                        data="Enter Instruction"   
                        [(ngModel)]="quizData.instruction"
                        name="instruction"
                        [config]="{ placeholder:'Enter Instruction',height:'1500'}"
                        
                ></ckeditor>
                <div class="row mt20">
                    <div class="col-md-6">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Maximum Marks</mat-label>
                            <input [(ngModel)]="quizData.maxMarks" 
                            type="text" name="maxMarks" 
                            placeholder="Enter here" 
                            matInput
                            required/>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Number of Questions</mat-label>
                            <input [(ngModel)]="quizData.numberOfQuestions" 
                            type="text" name="noOfQuestions" 
                            placeholder="Enter here" matInput
                            required/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt20">
                    <mat-slide-toggle
                        name="active" 
                        [(ngModel)]="quizData.negMarking"
                        class="mt20"
                        [checked]="false">
                        Negetive Marking
                    </mat-slide-toggle>
                </div>
                <div class="row mt20">
                    <mat-slide-toggle
                        name="negMarking" 
                        [(ngModel)]="quizData.active"
                        class="mt20"
                        [checked]="false">
                        Publish
                    </mat-slide-toggle>
                </div>
                <div class="container text-center">
                    <button mat-raised-button color="primary" type="submit">Add</button>
                </div>
            </form>

        </div>
    </div>
</mat-card>