<body>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="mt20">
                <h1 class="text-center">Register</h1>
                <mat-divider></mat-divider>
                <form [formGroup]="user" (ngSubmit)="onSubmit()" class="mt40">
                    <p>
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label>Username</mat-label>
                          <input 
                          matInput placeholder="Enter here"
                          formControlName="username"
                          id="username"
                          >
                        <mat-hint>Username should be unique</mat-hint>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label>Password</mat-label>
                          <input 
                          type="password"
                          matInput placeholder="Enter here"
                          formControlName="password"
                          id="password">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label>Re Enter Password</mat-label>
                          <input 
                          type="password"
                          matInput placeholder="Enter here"
                          formControlName="password2"
                          id="password2">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label>First Name</mat-label>
                          <input 
                          matInput placeholder="Enter here"
                          formControlName="firstName"
                          id="firstName">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label>Last Name</mat-label>
                          <input 
                          matInput placeholder="Enter here"
                          formControlName="lastName"
                          id="lastName">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label>Email</mat-label>
                          <input 
                          type="email" 
                          matInput placeholder="Enter here"
                          formControlName="email"
                          id="email">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label>Phone Number</mat-label>
                          <input 
                          type="number" 
                          matInput placeholder="Enter here"
                          formControlName="phone"
                          id="phone">
                        </mat-form-field>
                    </p>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button style="margin-left:20px;" mat-raised-button color="accent">Clear</button>     
                    </div>
                </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>
</body>